@model CoreTaskEmployee.Models.EmployeeCompleteModel

@{
    ViewData["Title"] = "RemoveEmployeeFromProject";
}

<div class="mt-4 mb-2">
    <h3 class="">Remove Employee From Project</h3>
</div>

<div>
    <hr />
    <h5>Sure to remove this employee from project ?</h5>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            Employee Name
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt class = "col-sm-4">
            Position
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.EmployeeRole)
        </dd>
    </dl>
    
    <form asp-action="RemoveEmployeeFromProject">
        <input type="hidden" asp-for="EmployeeId" />
        <input type="hidden" asp-for="EmployeeProject" />
        <input type="submit" value="Remove" class="btn btn-danger" />
    </form>
</div>
<div>
    <a asp-controller="Manager" asp-action="ManagerProjectInformation" class="btn btn-info btn px-2 my-2">Cancel</a>
</div>